.SearchBar {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 
p {
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}